name: fluquery_example
description: Example app demonstrating FluQuery features
publish_to: 'none'

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.5
  fluquery:
    path: ../
  http: ^1.3.0
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

